<!-- header -->
<header class="header">
  <div class="conteiner">
    <ul class="nav--list">
      <li class="nav--item"><img src="/images/header/Frame.png" alt=""></li>

      <li class="nav--item"><img src="/images/header/Group 1.png" alt=""></li>
      <li class="nav--item"><img src="/images/header/Group 2.png" alt=""></li>
      <li class="nav--item"><img src="/images/header/Group 3.png" alt=""></li>
    </ul>
  </div>
  <div class="conteiner">
    <div class="header-text">
      <p class="header-h1">Надежный помощник в лечений варикоза</p>
      <ul class="header--list">
        <li class="header--item"><img src="/images/header/Group 10.png" alt=""><a href="#">Схема приема</a></li>
        <li class="header--item"><img src="/images/header/Group 11.png" alt=""><a href="#">Инструкция</a></li>
        <li class="header--item"><img src="/images/header/Group 76.png" alt=""><a href="#">Где купить</a></li>
      </ul>
    </div>
    <div class="header--slaider">
      <div class="blok--img">
        <img src="/images/header/ВЕНАРУС_50+450_№30 1.png" alt="">
        <img src="/images/header/ВЕНАРУС_50+450_№30 1.png" alt="">
        <img src="/images/header/ВЕНАРУС_50+450_№30 1.png" alt="">
      </div>
      <div class="blok--btm">
        <img src="/images/header/Group L.png" alt="">
        <img src="/images/header/Group R.png" alt="">
      </div>
      <a href="#">Где купить ></a>
    </div>
  </div>
  <img class="header-img-bg" src="/images/header/Vector 1.png" alt="">
</header>