<main>
    <div class="discounts">
        <p class="discounts--text">
            >>> получить скидку 10% >>> получить скидку 10% >>> получить скидку 10% >>>
        </p>
    </div>
  
    <div class="description">
      <div class="description--blok">
        <img src="/images/main/Main 1.png" alt="">
        <p>Доказанная эффективность</p>
      </div>
      <div class="description--blok">
        <img src="/images/main/Main 2.png" alt="">
        <p>Новая дозировка 100 мг + 900 мг</p>
      </div>
      <div class="description--blok">
        <img src="/images/main/Main 3.png" alt="">
        
        <p>Удобный прием.Одна таблетка в сутки*</p> 
        <!-- <img class="description--last-img" src="/images/main/Main 4.png" alt="">   -->
      </div>
    </div>
  
</main>